/* add your styles here */
.heading{
    display: flex;
    justify-content: center;
}

.parent{
    /* width: 200px; */
    height: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    justify-items: center;
   

    
}
.image{
    width: 650px;
    
}

